
.cos-button{
  
  border-color:black;
  border-width: 2px;
  
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
}
.cos-button:hover{
  background-color: #fff;
  -webkit-transition:.6s;
  transition: .6s;
 
}

.cos-button:focus{
  
  -webkit-transition:0s;
  transition: 0s;
 
}


.cos-button:active{
  
  -webkit-transition:0s;
  transition: 0s;
 
}


.cos-pill-button {
  display: inline-block;
  padding: 14px 28.8px;
  margin-bottom: 0;


  font-size: 14px;
  font-weight: 100;
  line-height: 14px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  /* ensure that buttons do not have a border */

  border-radius: 2em;
 }
.cos-pill-button:focus {
  outline: none;
  color: #333;
}

.cos-pill-button:hover{
  color: #fff;
  text-decoration: none;
}

.cos-pill-button:active {
   box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   color: #333;
}





