.cos-blue{
	background-color:	hsl(201, 88%, 67%);
}

.cos-green{
	background-color:hsl(141, 71%, 48%);
}

.cos-yellow{
	background-color:hsl(48, 100%, 67%);
}

.cos-pink{
	background-color:hsl(323, 66%, 67%);
}

.cos-black{
	background-color:hsl(0, 0%, 21%);
}

.cos-vio{
	background-color:hsl(243, 32%, 53%);
}

.cos-brown{
	background-color:hsl(44, 84%, 29%);
}

.cos-teal{
	background-color:hsl(99, 85%, 78%);
}

.cos-pillo{
	background-color:hsl(80, 77%, 80%);
}

.cos-orange{
	background-color:hsla(35, 84%, 59%, 0.96);
}

.cos-red{
	background-color:hsl(357, 83%, 52%);
}
