
.container-fluid{
  padding: 3em;
  background-color: grey;
  

}
.cos-mini-content {
  background-color: grey;
  margin-top: 5px;
  margin-left: 5px;
  max-width: 400px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #fafafa;
  border-radius: 0.3rem;
  border:2px solid black;
}

.cos-section {
  background-color: grey;
  margin-top: 2em;
  margin-left: 3em;
  max-width: 90%;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #fafafa;
  border-radius: 0.3rem;
  border:2px solid black;
}

.container{
  margin: 2em;
  padding: 5em;
  background-color: grey;
  border-radius: 1em;
}

.cos-header{
  border-bottom:5px solid #555;
  width: 100%;
  background-origin: none;

}
.cos-header:hover{
  border-bottom:5px solid #999;
  width: 100%;
  cursor: default;


}



