body{
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  user-select: none;
  font-family: "Monospace",Courier New;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-size: 16px;
}
  nav{
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #444444;
    text-align: center;
    position: relative;
  }
  nav ul{
    margin-left: 0px;
    margin-top: 0px;
    
  }
  nav li{
    display: inline-block;
    padding: 1em;
  }
  nav li a{
    text-decoration: none;
    color: #fff;
    padding: 1em;
  
  }
  nav li a:hover,nav li a:active,nav li a:focus{
    background-color: #588;
  }
